[submodule "baselines/NMTFcoclust"]
	path = baselines/NMTFcoclust
	url = https://github.com/Saeidhoseinipour/NMTFcoclust.git
[submodule "baselines/fast-nmtf"]
	path = baselines/fast-nmtf
	url = https://github.com/acopar/fast-nmtf.git
[submodule "baselines/nonnegfac-python"]
	path = baselines/nonnegfac-python
	url = https://github.com/kimjingu/nonnegfac-python.git
